.login-form {
    margin: auto;
    margin-top: 3em;
    width: 40vw;
}

.content {
    margin-top: 1em;
}

.login-btn {
    margin-top: 1em;
    text-align: center;
}

@media (max-width: 480px) {

    .login-form {
        width: auto;
    }
}