.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

h3 {
    text-align: center;
}

.content{
    width: 40vw;
}

.option{
    margin-top: 1em;
}

.button-container{
    margin-top: 1em;
    text-align: center;
}

.section-button {
    display: block;
    margin: 0.5em auto;
}

@media (max-width: 480px) {

    .content {
        width: 100%;
    }
}