<div class="container">
    <div class="content">
        <h3 class="tui-text_h3">Раздел</h3>
        <tui-select [formControl]="collectionFormControl">
            Раздел
            <tui-data-list-wrapper *tuiDataList [items]="collections">
            </tui-data-list-wrapper>
        </tui-select>
        <tui-error
            [formControl]="collectionFormControl"
            [error]="[] | tuiFieldError | async"
        ></tui-error>
    </div>

    <div class="content">
        <h3 class="tui-text_h3">Создание вопроса</h3>
        <form [formGroup]="questionFormGroup" (submit)="addQuestion()">
            <div class="option">
                <tui-input formControlName="question">Вопрос</tui-input>
                <tui-error
                    formControlName="question"
                    [error]="[] | tuiFieldError | async"
                ></tui-error>
            </div>
            <div class="option">
                <tui-textarea formControlName="description"
                    >Документ</tui-textarea
                >
                <tui-error
                    formControlName="description"
                    [error]="[] | tuiFieldError | async"
                ></tui-error>
            </div>
            @if(getAnswersFormGroup()) {
            <div [formGroup]="getAnswersFormGroup()">
                @for (item of answersKey; track $index) {
                <div class="option">
                    <tui-input [formControlName]="item">
                        Вариант {{ item }}
                    </tui-input>
                    <tui-error
                        [formControlName]="item"
                        [error]="[] | tuiFieldError | async"
                    ></tui-error>
                </div>
                }
            </div>

            }

            <div class="option">
                <tui-input formControlName="correctAnswer">
                    Правильный(е) ответ(ы)
                </tui-input>
                <tui-error
                    formControlName="correctAnswer"
                    [error]="[] | tuiFieldError | async"
                ></tui-error>
            </div>
            <div class="button-container">
                <button
                    size="m"
                    tuiButton
                    type="submit"
                    [disabled]="!questionFormGroup.valid || !collectionFormControl.valid"
                    [showLoader]="setLoading()"
                >
                    Отправить
                </button>
            </div>
        </form>
    </div>
</div>

<button
    class="section-button"
    appearance="outline"
    size="s"
    routerLink="/"
    tuiButton
>
    Главное меню
</button>
<button
    class="section-button"
    appearance="icon"
    icon="tuiIconLogOutLarge"
    tuiButton
    type="button"
    (click)="logout()"
>
    Выход
</button>

<app-questions-data-list></app-questions-data-list>
