h3 {
    text-align: center;
}

.questionFormGroup{
    margin: auto;
    margin-top: 3em;
    width: 60vw;
}

.option{
    margin-top: 1em;
}

.button-container{
    margin-top: 1em;
    text-align: center;
}

.section-button {
    display: block;
    margin: 0.5em auto;
}

@media (max-width: 480px) {
    .questionFormGroup {
        width: auto;
    }
}