<div class="container">
    <div class="info-container">
        <div class="info-text">
            <div class="title-container">
                <h3 class="app-name">ЛСПАиО Экзамен</h3>
            </div>
            <p>
                Платформа для экзаменационного тестирования и подготовки
                работников <br />
                лаборатории систем пожарной автоматики и охраны.
            </p>
            <ul>
                <li>Создание вопросов</li>
                <li>Поиск в разделе по всем вопросам</li>
                <li>Режим "Экзамен"</li>
                <li>Режим "Все вопросы"</li>
                <li>Сохранение ответов пользователя</li>
                <li>Продолжение работы после закрытия бразуера</li>
            </ul>
        </div>
        <button appearance="accent" tuiButton type="button" routerLink="/exams">
            Начать
        </button>
    </div>
    <div class="img-container">
        <img class="page-img" src="assets/home-photo.png" alt="home-photo" />
    </div>
</div>
