@if(sectionName) {
<p class="list-title">Список вопросов по разделу <b>{{sectionName}}</b></p>

}

<tui-loader [overlay]="true" [showLoader]="contentLoader()">
    @for(item of allQuestions; track $index) {
    <div class="list-container">
        @if(item?.image) {
        <img
            class="question-iamge"
            src="assets/{{item?.image}}"
            [alt]="item?.image"
        />
        }
        <h4>{{item?.question}}</h4>
        <ul>
            @for(key of answersKey; track $index) {
            @if(item.correctAnswer.split('').includes(key)) {
            <li>
                <p><b>Ответ {{key}}:</b> {{item.answers[key]}}</p>
            </li>
            } }
        </ul>
    </div>
    }
</tui-loader>
