.question-iamge {
    display: block;
    margin: 0.5em;
}

.list-container {
    padding: 0 0.5em;
    margin: 1em 0;
    border: 0.2em black solid;
}

.list-title {
    text-align: center;
    font-size: larger;
}

.input-textfield {
    width: fit-content;
}

.search-bar {
    justify-items: flex-start;
}